.highLight {
  height: 900px;
}

.holder {
  height: 900px;
  width: 10%;
  overflow: hidden;
  float: left;
  border-left: 6px solid #CACACA;
  cursor: pointer;
}

.selfIntro {
  height: 900px;
  width: 57%;
  float: left;
  border-left: 3px solid #000000;
  cursor: pointer;
  padding: 10px;
}

.container {
  overflow: hidden;
  height: 900px;
}
