<div class="container">
  <div *ngFor="let highLight of highLights" [id]="highLight.id" (mouseenter)="extend(highLight.id)" (mouseleave) ="fold(highLight.id)" class="holder">
    <img class="highLight" (click)="showModal(highLight.id)" [src]="highLight.src" alt="">
  </div>
  <div class="selfIntro">
    <h1>hello this is self description.hello this is self description.hello this is self description.hello this is self description.hello this is self description.hello this is self description.hello this is self description.hello this is self description.</h1>
  </div>
</div>
<modal [set]="set"></modal>
